body {
  text-align: center;
}
navbar {
  display: inline-block;
  float: right;
}
.google-img {
  height: 92px;
  padding-left: 7rem;
  padding-top: 10rem;
}
.gmail-link {
  float: left;
  padding-right: 1rem;
}
.images-link {
  display: inline-block;
}
input {
  padding: 6px 9px 0;
  display: block;
  margin: 0 auto;
  width: 25rem;
  height: 1rem;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}
footer {
  background-color: grey;
  position: absolute;
  left: 0;
  line-height: 40px;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow:hidden;
}
